---
import Card from "@/components/Card.astro";
import { CardContent } from "@/components/ui/card";
import { Separator } from "@/components/ui/separator";
import { GraduationCap } from "lucide-react";

const educations = [
  {
    school: "Polytech Montpellier",
    diploma: "Engineering Degree in Computer Science and Management",
    begin: "2012",
    end: "2015",
  },
  {
    school: "Institute of Technology of Montpellier",
    diploma: "Two-year university degree in Computer Science",
    begin: "2010",
    end: "2012",
  },
];
---

<Card
  className="order-5"
  colSpan="md:col-span-2 lg:col-span-1"
  id="education-heading"
  rowSpan="row-span-2"
>
  <Fragment slot="title">
    <GraduationCap /> Education
  </Fragment>

  <CardContent className="flex h-full">
    <ul class="flex flex-col justify-evenly gap-4" role="list">
      {
        educations.map((education, idx) => (
          <>
            <li class="flex flex-col gap-2">
              <h3 class="text-lg font-bold">{education.school}</h3>
              <p class="text-sm text-muted-foreground">{education.diploma}</p>
              <p class="text-sm">
                {education.begin} - {education.end}
              </p>
            </li>
            {idx < educations.length - 1 && <Separator />}
          </>
        ))
      }
    </ul>
  </CardContent>
</Card>
