---
import Card from '@/components/Card.astro'
import ExperienceItem from '@/components/ExperienceItem.astro'
import { Badge } from '@/components/ui/badge'
import { buttonVariants } from '@/components/ui/button'
import { CardContent } from '@/components/ui/card'
import { cn } from '@/lib/utils'
import { BriefcaseBusiness } from 'lucide-react'
import { getCollection } from 'astro:content'

const allExperiences = await getCollection('experiences')

const displayedExperiences = allExperiences
  .filter((entry) => entry.data.inPreview)
  .sort((a, b) => b.data.id - a.data.id)
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <Fragment slot="title">
    <BriefcaseBusiness /> Expériences
  </Fragment>

  <CardContent
    className="flex flex-grow flex-col items-center justify-evenly gap-6 text-justify"
  >
    <ul role="list">
      {
        displayedExperiences.map((experience, idx) => (
          <>
            <ExperienceItem
              experience={experience}
              isLast={idx === displayedExperiences.length - 1}
            />
          </>
        ))
      }
    </ul>

    <a
      href="/xp"
      class={cn(
        buttonVariants({ variant: 'default', size: 'lg' }),
        'flex gap-2 items-center',
      )}
    >
      Voir plus <Badge variant="secondary"
        >+ {allExperiences.length - displayedExperiences.length}</Badge
      >
    </a>
  </CardContent>
</Card>
