---
import Articles from '@/components/blocks/Articles.astro'
import Education from '@/components/blocks/Education.astro'
import Experiences from '@/components/blocks/Experiences.astro'
import Me from '@/components/blocks/Me.astro'
import Skills from '@/components/blocks/Skills.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Simon Haïoun-Viet - Portfolio">
  <main
    class="lg:grid-rows-fr relative m-auto grid w-full max-w-6xl gap-2 overflow-hidden p-2 sm:gap-2 sm:p-4 md:grid-cols-4 md:gap-3 md:p-2 lg:gap-4"
  >
    <Me />
    <Articles />
    <Skills />
    <Experiences />
    <Education />
  </main>
</Layout>

<script>
  const cards = document.querySelectorAll('.card-animate')
  cards?.forEach((card, idx) => {
    card.animate(
      [
        { transform: 'translateY(20px)', opacity: 0 },
        { transform: 'translateY(-10px)', opacity: 0.8 },
        { transform: 'translateY(0)', opacity: 1 },
      ],
      {
        duration: 1000,
        easing: 'ease-in-out',
        delay: idx * 300,
        fill: 'both',
      },
    )
  })

  // we do not want to re trigger animations on page change
  document.addEventListener('astro:after-swap', () => {
    const emailContainer = document.querySelector('.email-container')
    const cardContainers = document.querySelectorAll('.card-animate')

    emailContainer?.classList?.remove('animate-appear')
    cardContainers?.forEach((card) => {
      card.classList.remove('opacity-0')
    })
  })
</script>
