---
import CV from '@/components/blocks/CV.astro'
import Education from '@/components/blocks/Education.astro'
import Experiences from '@/components/blocks/Experiences.astro'
import Me from '@/components/blocks/Me.astro'
import Skills from '@/components/blocks/Skills.astro'
import Layout from '@/layouts/Layout.astro'
import '@/styles/globals.css'
---

<Layout title="Simon Haïoun-Viet - Portfolio">
  <main
    class="lg:grid-rows-fr relative m-auto grid w-full max-w-6xl gap-2 overflow-hidden p-2 sm:gap-2 sm:p-4 md:grid-cols-2 md:gap-3 md:p-2 lg:grid-cols-4 lg:gap-4"
  >
    <Me />
    <Skills />
    <CV />
    <Experiences />
    <Education />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    color: white;
    font-size: 1rem;
    line-height: 1.6;
  }
</style>
