---
import { Image } from "astro:assets";
---

<div class="h-10 w-10 overflow-hidden rounded-full">
  <Image
    src="/avatar.jpeg"
    alt="Simon Haïoun-Viet"
    width={40}
    height={40}
    class="h-full w-full object-cover"
  />
</div>
