---
import {
  CardHeader,
  CardTitle,
  Card as ShadcnCard,
} from "@/components/ui/card";
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
  colSpan?: string;
  id?: string;
  rowSpan?: string;
}

const { className, colSpan, id, rowSpan } = Astro.props;
const hasTitle = Astro.slots.has("title");
---

<ShadcnCard
  className={cn(
    "align-start relative col-span-1 flex w-full transform motion-safe:animate-cardAppear",
    "flex-col justify-start rounded-2xl shadow-lg motion-safe:opacity-0",
    colSpan || "md:col-span-full",
    rowSpan,
    className,
  )}
>
  <section class="flex flex-grow flex-col" aria-labelledby={id}>
    {
      hasTitle && (
        <CardHeader className="border-b mb-4">
          <CardTitle className="text-white flex items-center gap-3" id={id}>
            <slot name="title" />
          </CardTitle>
        </CardHeader>
      )
    }

    <slot />
  </section>
</ShadcnCard>
