---
export interface Props {
  text: string;
  classNames?: string;
}

const { text, classNames } = Astro.props;
---

<span class={`outline-bg text-black font-medium p-0.5 inline-flex -skew-x-[10deg] ${classNames}`}>
  {text}
</span>
<style>
  .outline-bg {
    background-color: #fff;
  }
</style>
