---
export interface Props {
  text: string
  classNames?: string
}

const { text, classNames } = Astro.props
---

<span
  class={`bg-white text-black font-medium p-0.5 inline-flex -skew-x-[10deg] ${classNames}`}
>
  {text}
</span>
